/*======================================
    Projects CSS
========================================*/
.projects {
    background: $white;
    padding-bottom: 155px;

    .project-slider {
        margin: 0;
    }

    .tns-nav {
        text-align: center;
        position: absolute;
        bottom: 100px;
        transform: translateX(-50%);
        width: 100%;
        left: 50%;
        z-index: 9;

        button {
            height: 3px;
            width: 35px;
            background-color: #b2b2b2;
            border-radius: 3px;
            display: inline-block;
            border: none;
            margin: 0px 5px;
            transition: all 0.4s ease;

            &:hover {
                background: $theme-color;
            }

            &.tns-nav-active {
                background: $theme-color;
            }
        }
    }
}

.single-project {
    text-align: center;

    img {
        width: 100%;
    }

    .content {
        margin-top: 45px;

        h2 {
            a {
                font-size: 22px;
                font-weight: 600;
                color: $black;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        .sub-title {
            color: #9b9b9b;
            display: block;
            margin-top: 5px;
        }

        p {
            margin-top: 15px;
        }
    }
}